/build/
/bin/
/obj/
*.o
*.a
*.so
*.exe
*.dll
*.lib
*.out
*.dSYM/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

.vscode/
.idea/
*.iml
*.sln
*.vcxproj*
*.ncb
*.sdf
*.opensdf
*.suo
*.xcodeproj
*.xcworkspace

*.log
*.tmp
*.swp
*.bak
*.pid
*.seed
*.stackdump
vgcore.*

*.ini
*.cfg
*.dat
*.db

*.zip
*.tar.gz
*.7z

*.pdf
*.docx
*.pptx

*.cbp
*.layout

*.pro.user
*.qmake.stash

*.clangd/
/cmake-build-*/
